body {
	font-family: sans-serif;
	font-size: 12px;
}

/* Study buddy manager */
#study-buddy-manager {
	padding: 10px;
}

#study-buddy-manager h1 {
	display: block;
	font-family: "Tahoma", sans-serif;
	font-weight: 100;
	font-size: 30px;
	text-align: center;
	color: #007;
	margin: 10px;
}
#study-buddy-manager span {
	padding: 15px;
	display: block;
}
#study-buddy-manager input,
#study-buddy-manager select {
	margin: 5px 0;
}
#study-buddy-manager input[type="submit"] {
	width: 100%;
}
ul, ul li {
	list-style: none;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

#universityList li {
	cursor: pointer;
}

label.btn-sm {
	height: 20px;
	font-size: 14px !important;
	line-height: 0px;
}

.input-group-addon {
	min-width: 100px;
}
.input-group, .btn-group {
	margin: 10px;
}

#courses li {
	padding: 3px 10px;
	border-left: 3px solid #06a;
}

#loginForm {
	margin-right: 0px;
}
.list-group-item {
	line-height: 22px !important;
}
/* apple colors */
[class*='-dark'] {
	background-color:#02243C;
    color:#f0f0f0;
}
[class*='-light'] {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
[class*='-blue'] {
	background-color:#5195ce;
    color:#fff;
}
[class*='-apple'] {
	background-color:#005DB3;
    color:#f8f8f8;
}
[class*='-gray'] {
	background-color:#e6e6e6;
    color:#666;
}
[class*='-green'] {
	background-color:#5BC236;
    color:#fff;
}

/* hover and active */
[class*='-dark']:hover,[class*='-dark']:focus {
	background-color:#12254d;
    color:#fff;
}
[class*='-light']:hover,[class*='-light']:active {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
[class*='-blue']:hover,[class*='-blue']:active {
	background-color:#62a6df;
    color:#fff;
}
[class*='-apple']:hover,[class*='-apple']:active {
	background-color:#116ec4;
    color:#fff;
}
[class*='-gray']:hover,[class*='-gray']:active {
	background-color:#d5d5d5;
    color:#fff;
}
[class*='-green']:hover,[class*='-green']:active {
	background-color:#6cd347;
    color:#fff;
}
#regform {
	text-align: center;
}
#mgrform .input-group {
	display: block;
}