body {
	font-family: sans-serif;
	font-size: 12px;
}

/* Study buddy manager */
#study-buddy-manager {
	padding: 10px;
}

#study-buddy-manager h1 {
	display: block;
	font-family: "Tahoma", sans-serif;
	font-weight: 100;
	font-size: 30px;
	text-align: center;
	color: #007;
	margin: 10px;
	padding: 0;
}
ul, ul li {
	list-style: none;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}
ul li:hover {
	background: #ddf;
	cursor: pointer;
}

label.btn-sm {
	height: 20px;
	font-size: 14px !important;
	line-height: 0px;
}

.input-group-addon {
	min-width: 100px;
}
.input-group, .btn-group {
	margin: 10px;
}